
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    line-height: 1.9em;
    height: 100vh;
    background: #fafafa;
}

/*header*/
.header {
    width: 100%;
    height: 20vh;
}

/*section*/
.section {
    width: 100%;
    height: 70vh;
}

/*footer*/
.footer {
    width: 100vw;
    height: 10vh;
    text-align: center;
    margin: 0 auto;
    padding: .9em 0;
    background-color: #ff8c00;
    color: #fff;
    border-radius: 90%/100px 100px 0 0;
}

.footer h3 {
    font-weight: 600%;
    cursor: pointer;
}

.footer p {
    opacity: 70%;
}

section{
    display: block;
    text-align: center;
    margin: 50px 0;
}
.card{
    display: inline-block;
    font-family: 'Rubik', sans-serif;    display: inline-block;
    width: 300px;
    margin: 0 20px 100px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #ecebeb;
    border-bottom: 10px solid #ff8c00;
}

.card:hover{
    box-shadow: 5px 5px 20px 0 rgb(145, 114, 94);
}
.img{
    width: 300px;
    height: 200px;
}
.info{
    margin: 20px 20px 30px 20px;
}
.info p{
    font-size: 14px;
    padding-top: 3px;
}
.social{
    margin-bottom:10px;
}
.social a{
    margin-right: 7px;
}
.social img:hover{
    background-color: #1d1102;
}