/* all styles in here, except whatever has to be inline. */
*{margin: 0; padding: 0; box-sizing: border-box;}

section{
    display: block;
    text-align: center;
    margin: 50px 0;
}
.card{
    display: inline-block;
    font-family: 'Rubik', sans-serif;    display: inline-block;
    width: 300px;
    margin: 0 20px 100px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #ecebeb;
    border-bottom: 10px solid #ff8c00;
}

.card:hover{
    box-shadow: 5px 5px 20px 0 rgb(145, 114, 94);
}
.img{
    width: 300px;
    height: 200px;
}
.info{
    margin: 20px 20px 30px 20px;
}
.info p{
    font-size: 14px;
    padding-top: 3px;
}
.social{
    margin-bottom:10px;
}
.social a{
    margin-right: 7px;
}
.social img:hover{
    background-color: #1d1102;
}